<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Composer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>

    <div class="container p-5">
        <h2 class="mb-5">Composer</h2>

        <div id="blk_question_container">
            <div class="mb-3">
                <label for="input_question_id" class="form-label">ID</label>
                <input type="text" class="form-control" id="input_question_id" aria-describedby="input_question_id">
            </div>

            <div class="mb-3">
                <label for="input_question_text" class="form-label">Question text</label>
                <input type="text" class="form-control" id="input_question_text" aria-describedby="input_question_text">
            </div>

            <div class="mb-3">
                <label for="select_response_type" class="form-label">Response type</label>
                <select class="custom-select" id="select_response_type">
                    <option selected>select from list</option>
                    <option value="MCQ">MCQ</option>
                    <option value="multiple">Multiple answers</option>
                    <option value="numeric">Numeric</option>
                    <option value="short_text">Short text</option>
                    <option value="long_text">Long text</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Responses</label>

                <div class="d-none" id="blk_responses_container">
                    <!-- generated based on reponse type by composer -->
                </div>
            </div>

            <button class="btn btn-primary btn-block my-4" id="question_save_button"><i class="las la-save la-lg"></i>
                save</button>
        </div>
    </div>

    <script src="js/libraries.min.js"></script>
    <script src="js/composer.js"></script>

</body>

</html>