<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Composer</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>

<body>

    <div class="container m-auto">

        <div class="col-md-8 p-5">
            <h2 class="mb-5">Composer</h2>

            <button class="btn btn-outline-primary mb-3"><i class="las la-plus-circle la-lg"></i> New Question</button>


            <div id="blk_question_container">
                <div class="mb-3">
                    <label for="input_question_id" class="form-label">ID</label>
                    <input type="text" class="form-control" id="input_question_id" aria-describedby="input_question_id">
                </div>

                <div class="mb-3">
                    <label for="input_question_text" class="form-label">Question text</label>
                    <input type="text" class="form-control" id="input_question_text"
                        aria-describedby="input_question_text">
                </div>

                <div class="mb-3">
                    <label for="select_response_type" class="form-label">Response type</label>
                    <select class="custom-select" id="select_response_type">
                        <option selected>Response type</option>
                        <option value="mcq">MCQ (radio)</option>
                        <option value="multiple">Multiple answers (checkbox)</option>
                        <option value="numeric">Numeric (number input)</option>
                        <option value="short_text">Short text (text input)</option>
                        <option value="long_text">Long text (text area)</option>
                    </select>
                </div>

                <div class="mb-3" id="blk_response_container">
                    <button class="btn btn-outline-primary align-items-center" id="add_response_button"><i class="las la-plus-circle la-lg"></i> response</button>

                    <div class="form-row my-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Value label" id="response_value_label">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="value" id="response_value">
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary p-1"><i class="las la-save"></i> save</button>
                            <button class="btn btn-outline-danger p-1"><i class="las la-minus-circle"></i> remove</button>
                        </div>
                    </div>
                </div>
            </div>


            <button type="submit" class="btn btn-primary btn-block"><i class="las la-save la-lg"></i> save</button>
        </div>
    </div>

    <script src="js/libraries.min.js"></script>
    <script src="js/composer.js"></script>

</body>

</html>